body {
    margin: 0;
    padding: 0;
    background-color: #f8fafc;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #1f2937;
    width: 100%;
}
#logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
}
#search {
    width: 400px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
}
#search:focus {
    outline: 2px solid darkorange;
}
#cart, #profile {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
}
#category {
    background-color: #f2f2f2;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
}
#search-button {
    background-color: darkorange;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
}
#nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}
#nav-links a:hover {
    text-decoration: underline;
    font-family: Arial, sans-serif;
}
#products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    padding:40px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 24px;
    text-align: center;
    background-color: #fff;
    transition:0.3s;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}
.price {
    color: darkorange;
    font-weight: 700;
    font-size: 1.1rem;
}
.card h3 {
    font-size: 1.4rem;
    line-height: 1.3;
    margin: 16px 0;
    height: 90px;
    overflow: hidden;
}
.category{
    color:#64748b;
    font-size:0.9rem;
    text-transform:capitalize;
    margin-bottom:10px;
}